<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="rollingtxtfile" />
  </root>

  <appender name="rollingtxtfile" type="log4net.Appender.RollingFileAppender">
    <file value="C:\Users\Author\AppData\Roaming\Logs\web-api-log4net-appender-logs.txt" />
    <appendToFile value="true" />
    <maximumFileSize value="50KB" />
    <maxSizeRollBackups value="3" />

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level %logger.%method [%line] - MESSAGE: %message%newline" />
    </layout>
  </appender>

  <appender name="txtfile" type="log4net.Appender.FileAppender">
    <file value="C:\Users\Author\AppData\Roaming\Logs\web-api-log4net-logs.txt" />
    <appendToFile value="true" />

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level %logger.%method [%line] - MESSAGE: %message%newline" />
    </layout>
  </appender>
</log4net>